@keyframes slideIn {
  to { transform: translate3d(0, 0, 0); }
}
@keyframes fadeIn {
  from { opacity: 0; }
}
@keyframes fadeOut {
  to { opacity: 0; }
}
@keyframes hide {
  to { display: none; }
}
@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0) scale(1.25, 0.7);
  }
  5% {
    transform: scale(1.1, 0.9)
  }
  25% {
    transform: translate3d(0, -50%, 0) scale(1)
  }
  40% {
    transform: scale(1.1, 0.9)
  }
  50% {
    transform: translate3d(0, 0, 0) scale(1.25, 0.7)
  }
  60% {
    transform: scale(1.1, 0.9)
  }
  75% {
    transform: translate3d(0, -50%, 0) scale(1)
  }
  90% {
    transform: scale(1.1, 0.9)
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1.25, 0.7);
  }
}
.app-container {
  background: var(--cyan);
  height: 100vh;
  margin: 0;
  padding: 0;
}
.app {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
.main-content {
  background: white;
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
  transform: translate3d(100%, 0, 0);
}
.sidebar {
  color: white;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  text-align: left;
}
.is-ready .main-content {
  animation: slideIn .25s cubic-bezier(0.75, 0.15, 0.15, 0.75) .5s forwards;
}
.is-ready .sidebar {
  animation: fadeIn .25s cubic-bezier(0.75, 0.15, 0.15, 0.75) 1s backwards;
  max-width: 250px;
  opacity: 1;
}
.sidebar .list-group-item {
  background-color: transparent;
  border-top: 0;
  color: inherit;
}
.sidebar .list-group-item:not(.disabled) {
  cursor: pointer;
}
.sidebar .list-group-item:not(.disabled):hover,
.sidebar .list-group-item:not(.disabled):focus {
  background-color: rgba(0,0,0,.15);
}

/* login styles */
.ic-moneybag {
  max-height: 150px;
  max-width: 300px;
}
.ic-moneybag.is-animating {
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.75, 0.15, 0.15, 0.75);
  transform-origin: bottom;
}
.brand-heading {
  font-weight: bold;
  margin: 1.5rem 0 3rem;
}
.login-form {
  margin-top: 2rem;
  max-width: 300px;
  width: 100%;
}
.login-form .btn {
  font-size: 18px;
  letter-spacing: .05em;
}

/* row styles */
.budget-row,
.transaction-row {
  align-items: stretch;
  border-bottom: 1px solid rgb(212, 212, 212);
  display: flex;
  justify-content: space-between;
}
.budget-group:last-of-type .budget-row:last-of-type {
  border-bottom: 0;
}
.budget-row span {
  text-align: right;
  flex: 1 1 20%;
  padding: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.budget-row span:first-of-type {
  text-align: left;
  flex-basis: 40%;
}
.budget-group-name span {
  padding: 1rem 0.5rem;
}
.budget-group-name span {
  color: grey;
}
.budget-group-name span:first-of-type {
  color: black;
  font-size: 1.125rem;
}
.transactions-header span {
  font-weight: bold;
  letter-spacing: 0.12em;
}
.transaction-row span {
  border-right: 1px solid rgb(212, 212, 212);
  flex: 1 1 12ch;
  font-size: 0.85em;
  min-width: 12ch;
  padding: 0.5rem;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.transaction-row span:first-of-type {
  flex-grow: 0;
}
.transaction-row span:nth-of-type(2) {
  flex-grow: 7;
}
.transaction-row span:nth-of-type(3) {
  flex-grow: 20;
}
.transaction-row span:nth-of-type(4) {
  flex-grow: 7;
}
.transaction-row span:nth-of-type(5),
.transaction-row span:nth-of-type(6) {
    text-align: right;
}